@import url("reset.css");

.header-links {
	background-color: aquamarine;
}

a {
	background-color: blanchedalmond;
}

.text {
	color: blue;
}

#agency {
	color: brown;
}

div.description {
	color: blueviolet;
	background-color: aquamarine;
}

.middle.text {
	background-color: black;
	color: aliceblue;
}

.list1,
.list2 {
	color: brown;
}

.description p {
	color: darkgray;
}

.block .text {
	color: salmon;
}

.text2 * {
	background-color: chocolate;
}

.block2 > p {
	color: olive;
}

.block2 ~ p {
	background-color: teal;
}

.point + li {
	background-color: blueviolet;
}
